/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*, ::after, ::before{
  box-sizing: border-box;
}

body {
    background-color: #100e17;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 40px;
}

/* Buttons */
.button-wrap{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-button:hover{
  letter-spacing: 0.5em;
  background-color: #4b3f77;
}
.cache-button:hover{
  letter-spacing: 0.4em;
  background-color: #4b3f77;
}
.input-label:hover{
  letter-spacing: 0.4em;
  background-color: #4b3f77;
}
.cache-icon:hover{
  background-color: #4b3f77;
}

.main-button:focus, .clear-button:focus, .cache-button:focus, .cache-icon:focus{
  outline: none;
}

.main-button {
  color: white;
  cursor: pointer;
  height: 4em;
  width: 200px;
  background-color: #423c58;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
 
}
.cache-icon{
  color: white;
  font-size: 18px;
  cursor: pointer;
  height: 2em;
  width: 60px;
  margin-right: 8px;
  background-color: #423c58;
  border: none;
  border-radius: 3px;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
}
.cache-button{
  font-size: 10px;
  color: white;
  cursor: pointer;
  height: 4em;
  width: 80px;
  margin-right: 10px;
  background-color: #423c58;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
}

.input-label{
  font-size: 10px;
  color: white;
  cursor: pointer;
  width: 100px;
  height: 4em;
  background-color: #423c58;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-file{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.cache-button:disabled{
  background-color: #7b7886a2;
}

/* Input Field */
.main-text {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.group {
  position: relative;
  width: 100%;
  padding: 40px;
  max-width: 93%;
}

textarea {
  /* resize: none; */
  text-align: center;
  max-width: 100%;
  min-width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea::-webkit-scrollbar{
  display: none;
}

input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 100%;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #fff;
  transition: 300ms ease all;
  left: 0%;
}

/* Cache Component */
.cache-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.cache{
  
  width: 90%;
  border-radius: 20px;
  background-color: #69647a;
  display: flex;
  flex-direction: row;
  margin: 5px;
  
}
/* .cache:first-child{
  opacity: 0;
  animation: popdown ease-in-out 2s forwards;
  animation-delay: 0.1s;
} */
/* .cache:not(:first-child){
  opacity: 0;
  animation: popdown ease-in-out 0.3s forwards;
  animation-delay: 0.1s;
} */
.cache-text{
  font-size: 16px;
  width: 100%;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cache-text::-webkit-scrollbar{
  display: none;
}

.cache-actions{
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media only screen and (max-width:768px){
  .button-wrap{
    flex-direction: column;
  }
  .main-button{
    margin-top: 10px;
  }
  .group{
    padding: 20px;
  }
  .cache-text{
    width: 60%;
  }
  .cache-actions{
    width: 40%;
    /* flex-direction: column; */
  }
  .cache-icon{
    font-size: 15px;
    width:40px;
  }
  .cache-button{
    margin-top: 5px;
    width: 80px;
  }
  .input-label{
    margin-top: 5px;
    width: 100px;
  }
}

/* Animations */
/* @keyframes reveal{
  from{opacity: 0;transform: translateY(-15px);}
  to{opacity: 1;transform: translateY(0px);}
}
@keyframes popdown{
  from{transform: translateY(0px);}
  to{transform: translateY(100px);}
} */

.progress-wrap{
  position: fixed;
  
  right: 0px;
  bottom: 0px;
  font-size: 15px;
  margin-bottom: 50px;
  margin-right: 10px;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 200;
  /* background-color: #86848f4f; */
  display: flex;
  opacity: 0.05;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progress-title{
  padding: 10px 10px 0px 10px;
}

.progress {
  width:300px;
  height:10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow:hidden;
  background:#5050507c;
  border-radius:6px;
}

.p-bar {
	position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background:rgb(79, 211, 101);
}

.percent {
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:12px;
  color:white;
  margin-bottom: 5px;
}